@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&family=Montserrat:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, 
  sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}